---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<br><br>
<blockquote style="text-align: left;">
  <p>After the upheavals of these last few months, education will once more constitute a decisive factor not only in rebuilding but also, and especially, in construction proper.</p>
  <div style="text-align: right"><cite>Jean Piaget</cite></div>
</blockquote>